.currency_input {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .first_row {
    display: flex;
    justify-content: space-between;
  }

  button.currency_selector {
    margin: 0;
    padding-left: 0;
    border: none;
    background-color: transparent;
    font-size: larger;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    // &::after {
    //   content: ">";
    //   display: inline-block;
    //   transform: rotate(90deg);
    // }

    &:active {
      background-color: rgba(121, 111, 111, 0.143);
      border-radius: 0.5rem;
    }
  }

  .balance {
    color: gray;
    font-size: smaller;
  }

  input {
    border: none;
    padding-right: 0.5rem;
    text-align: right;
    margin: 0;
    font-weight: bold;
    font-size: large;

    &:focus {
      outline: none;
    }

    &[type=number] {
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
  }

}

.dialog {
  z-index: 3;
  top: 0;
  height: 100%;
  width: 100vw;
}