.section6 {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section6 hr {
  height: 2px;
  width: 56px;
  margin: 40px 0;
  border-radius: 5px;
  background: black;
}

.section6 .card-grid {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

.section6 .card-flex {
  border-radius: 25px;
  overflow: hidden;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section6 .card-header {
  overflow: hidden;
}

.section6 .card-header > img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* max-height: 90%; */
  /* border-radius: 50px; */
}

.section6 .card-body {
  padding: 2rem;
}

.section6 .card-flex h3 {
  font-size: 21px;
}
.section6 .card-flex p {
  font-size: 16px;
  color: #7d7987;
  padding: 1rem 0;
}
.section6 .card-flex a {
  font-size: 17px;
}

.section6 button {
  font-size: 18px;
  margin-top: 40px;
  color: #458ff6;
  background-color: white;
  padding: 1rem 3rem;
  border: 2px solid #458ff6;
  border-radius: 25px;
  cursor: pointer;
}
